@keyframes shimmer {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(150%);
    }
  }
  
  .animate-shimmer {
    animation: shimmer 2s infinite;
    background-size: 200% 100%;
  }
  